name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{matrix.node-version}}
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node-version}}
      - run: |
          sudo npm install pm2 -g
          sudo npm install yarn -g
          yarn install
          cd frontend
          yarn install
          yarn build
          cd ..
          pm2 stop 0
          pm2 start 0
          sudo service nginx restart
